.App {
  text-align: center;

  
}



body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,67,108,1) 29%, rgba(62,71,73,1) 91%);
}

.input-group {

  max-width: 30%;
  transition: 2s ease-in-out;

}



.card {
  max-width: 60%;
  display: flex;
  position: relative;
}



.card-title {
  position: absolute;
  padding: 20px;
  color: black;

}

.card-title:hover{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-date{

  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
  color: black;

}

.img-fluid{
  max-height: 100%;
  display: block;
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 300px;
  font-size: 50px;
}

.descriptiow {
  position: absolute;
  padding-left: 20px;
  margin-top: 350px;
  
}

.other{
position: absolute;

}